<%= form_for(@protocol) do |f| %>
  <% if @protocol.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@protocol.errors.count, "error") %> prohibited this protocol from being saved:</h2>

      <ul>
      <% @protocol.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :creator %><br>
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :dateCreated %><br>
    <%= f.date_select :dateCreated %>
  </div>

  <h1>topics</h1>
  <%= f.fields_for :topics do |ft|%>
    <% if !ft.object.new_record? %>
	<p>
		<strong><%= ft.object.headline %></strong>
	</p>
	<p>
		<%= ft.object.text %>
	</p>
	<p><b>tags</b>
		<% for tag in ft.object.tags %>
			<%= label_tag(tag.name) %>
		<% end %>
	</p>
    <% else %>
   	 <p>
		<%= ft.label :headline %><br/>
		<%= ft.text_field :headline%>
    	</p>
    	<p>
		<%= ft.label :text %><br/>
		<%= ft.text_area :text %>
	    </p>
	    <p>

		<%= ft.fields_for :topic_tags do |tt| %>
			<%= Tag.all.each do |tag| %>
				<%= tt.check_box :tag_id, value: tag.id  %>
				<%= tt.hidden_field :topic_id, value: 10101010101010101010  %>
                        <% end %>			
		<% end %>
	    </p>
	    <p>
		<%= ft.hidden_field :protocol_id, value: f.object.id%>
		<%= f.submit %>
	    </p>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :dateSent %><br>
    <%= f.date_select :dateSent %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
